    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;    
        font-family: 'Hind', sans-serif;
        font-family: 'Open Sans', sans-serif;
        list-style: none;
    }

    .clss-a-menu:hover{ 
        font-weight: 700;
        color:orange;
        transition: .3s ease-in;
    }

    .clss-a-menu{
        text-align: center;
        font-size: 1.5rem;
        text-decoration: none;
        color:white;
        font-weight: 400;
        margin-top: 3rem;
        animation: derecha .8s ease-in-out;
    }

    .clss-div-img{
        display: flex;
        justify-content: center;
        width: 100%;
        animation: izquierda .8s ease-in-out;
    }

    .clss-img-img{
        margin-top: 2rem;
        width: 70%;
    }

    .clss-main{
        height: 100vh;
        background-image: url(../img/main.jpg);
            background-position: center; 
            background-repeat: no-repeat; 
            background-size: cover; 
    }

    .clss-nav{        
        display: none;
    }

    .clss-section{
        height: 100vh;
        background-image:
            linear-gradient(
            to bottom,
            transparent 10%,
            rgba(0,0,0,0.5) 50%,
            rgba(0,0,0) 95%
            );
        display: flex;
        flex-direction: column;   
    }





    @media only screen and (min-width: 320px) {

        .clss-a-menu{
            font-size: 2rem;
            margin-top: 7rem;
        }

    }

    @media only screen and (min-width: 480px) {

        .clss-a-menu{
            font-size: 2.5rem;
            margin-top: 10rem;
        }

    @media only screen and (min-width: 768px) {

        .clss-div-img{
            display: flex;
            justify-content: center;
            width: 100%;
            animation: izquierda .8s ease-in-out;
        }
        .clss-img-img{
            margin-top: 2rem;
            width: 70%;
        }
    } 

    @media only screen and (min-width:1024px) {
        
        .clss-a-menu{
            display: none;
            }
   
        .clss-img-img{
            display: none;
        }    

        .clss-li{
            padding: 2rem;
        }

        .clss-li-a{
            text-decoration: none;
            font-size: 1.5rem;
            color: white;
            font-weight: 700;
            padding: 2rem;
        }
       
        .clss-nav{
            display: flex;
            background-image:
            linear-gradient(
            to top,
            transparent 10%,
            rgba(0,0,0,0.5) 50%,
            rgba(0,0,0) 95%
            );
            width: 100%;
            justify-content: space-between;
            animation: arriba .8s ease-in-out;
        }

        .clss-nav-img{
            width: 20%;
            margin-left: 2rem;
            margin-top: 2rem;
        }

        .clss-ul-nav{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 2rem;
        }

    }
}














@keyframes izquierda {

    0%{
        transform: translateX(-500px);
    }

    100%{
        transform: translateX(0px);
    }
    
}

@keyframes derecha {

    0%{
        transform: translateX(500px);
    }

    100%{
        transform: translateX(0px);
    }
    
}


@keyframes arriba {

    0%{
        transform: translateY(-500px);
    }

    100%{
        transform: translateX(0px);
    }
    
}